<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.dao.UserDAO">

    <select id="findUserByUsername" parameterType="String" resultType="com.chen.entity.User">
        select
            id,
            username,
            password,
            gmt_create,
            gmt_update,
            enabled,
            power,
            pic,
            age,
            sex,
            real_name,
            email,
            info,
            question1,
            question2,
            question3,
            answer1,
            answer2,
            answer3
        from
          userInfo
        where
          username=#{username}
    </select>

    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.chen.entity.User">
        select
            id,
            username,
            password,
            gmt_create,
            gmt_update,
            enabled,
            power,
            pic,
            age,
            sex,
            real_name,
            email,
            info,
            question1,
            question2,
            question3,
            answer1,
            answer2,
            answer3
        from
          userInfo
        where
          id=#{id}
    </select>

    <select id="findUserByEmail" parameterType="String" resultType="com.chen.entity.User">
        select
            id,
            username,
            password,
            gmt_create,
            gmt_update,
            enabled,
            power,
            pic,
            age,
            sex,
            real_name,
            email,
            info,
            question1,
            question2,
            question3,
            answer1,
            answer2,
            answer3
        from
        userInfo
        where
        email=#{email}
    </select>

    <insert id="baseRegister" parameterType="com.chen.entity.User" >
        INSERT INTO
        userInfo
        (username,email,password)
        VALUES
        (#{username},#{email},#{password})
    </insert>



</mapper>